.btn {
    background-color: #EFEFEF;
    height: 50px;
    width: 200px;
    border: 1px solid black;
}
.container {
    position: relative;
    height: 55vh;
    padding-top: 20%;
    background-color: blue;
    text-align: center;
}
